body  {
    font-size: 0.9rem;
}

.team-list .content {
    width: 50%;
}

.team-list .content .follow {
    /*position: absolute;*/
    /*bottom: 5px;*/
}

.team .content .title, .team-list .content .title {
    font-size: 18px;
}

.team .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.team .member-position {
    position: absolute;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    bottom: -50px;
    right: 0;
    left: 0;
    margin: auto 10%;
    z-index: 99;
}