.form-group {
    margin: .7rem 0;
}
.form-control{
    padding: .8rem 2rem !important;
}

.btn-default{
  /*background-color: #DE7900; */
  background-color: #19908b;
  color: #fff;
  border-radius: 4px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
.btn-default:hover{
    background-color: #566867;
    color: #fff;
}

.btn-default:disabled{
    background-color: #566867;
    color: #fff;
}

.my{
 margin-top: 8rem;
 margin-bottom: 8rem;
}


.section-title {
    text-align: center;
    margin: auto auto 50px auto;
}
.section-title h2 {
    color: #dae1e6;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 3.5em;
    text-align: center;
    line-height: 42px;
}

.section-title h3 {
    margin-top: -25px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    line-height: 35px;
}

.section-title p {
    margin: 0 0 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--paragraph-color);
}
