.form-group {
    margin: .7rem 0;
}
.form-control{
    padding: .8rem 2rem !important;
}

.btn-default{
  background-color: #DE7900;
  color: #fff;
  border-radius: 4px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
.btn-default:hover{
    background-color: rgba(222, 121, 0, 0.85);
    color: #fff;
}

.btn-default:disabled{
    background-color: rgba(222, 121, 0, 0.68);
    color: #fff;
}

.my{
 margin-top: 8rem;
 margin-bottom: 8rem;
}